@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-regular {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.raleway-medium {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* common class */
.flex{
  display: flex;
}

.displaynone{
  display: none;
}
.blackbtn{
  max-width: 197px;
  max-height: 50px;
  border-radius: 12px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: rgba(17, 17, 17, 1);
}

/* nav */
header{
  max-width: 1440px;
  max-height: 102px;
  margin: 0 auto;
  align-items: center;
  padding: 10px 20px;
}
.navbanner{
  max-width:202px;
  gap: 11px;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  color: rgba(17, 17, 17, 1);
}
.navbanner img{
  width: 62px;
  height: 62px;
}
nav{
  width: 1160px;
  height: 62px;
  gap: 186px;
  justify-content: space-between;
  align-items: center;
}
.navitems{
  width: 387px;
  height: 30px;
  justify-content: space-between;
}
.navitem{
  list-style: none;
  font-weight: bold;
  font-size: 20px;
}
.link1{
  color: rgba(254, 163, 1, 1);
}
.link2{
color:rgba(1, 172, 253, 1);
}
.link3{
color: rgba(5, 212, 223, 1);
}
.link4{
color: rgba(93, 88, 239, 1);
}
.navlink{
  text-decoration: none;
}
.navbtn{
  width: 197px;
  height: 50px;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 12px;
  background-color:rgba(254, 163, 1, 1);
  color: #FFFFFF;
}
/* hero */
.hero{
  justify-content: center;
  gap: 50px;
  margin: 0 auto;
}
.herodescription{
  max-width: 640px;
  max-height: 331px;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: start;
  margin: 122px 0;
}
.heroimg{
  max-width: 468.61px;
  max-height: 575px;

}
.heroimg{
  width: 100%;
  object-fit: contain;
}
.herodescription h1{
  font-weight: bold;
  font-size: 56px;
}
.heropara{
  font-size: 20px;
}

.orange{
  color:rgba(254, 163, 1, 1) ;
  
}
.black{
  color: rgba(17, 17, 17, 1);
}
.blue{
  color:rgba(1, 172, 253, 1);
}